*{
    background-color: #f1ece4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-color: #021926;
    --secondary-color: #721B08;
    --option-color-1: #114B55;
    --option-color-2: #7E6525;
    --option-color-3: #C6CC7B;   
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
.main-container {
    display: flex;
    flex-direction: column;
}
p {
    font-weight: 500;
    text-align: center;    
}
.a-container_picture_home {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 20%;
    border: solid var(--primary-color);
    overflow: hidden;
}
.picture-container_img_home > img {
    width: 100%;
    height: 100%;
}
.header-container_h1_p {
    margin: 1.0rem 1.5rem;
}
.header-container_h1_p  h1 {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 3.8rem;
    text-align: center;
}
.header-container_h1_p > p {
    color: #05314C;
    margin-top: 1.0rem;
    font-size: 2.0rem;
}
.section-container_square_triangle_isoscelesTriangle_circle {
    display: flex;
    flex-direction: column;    
    align-items: center;
}
/* estilos contenedor cuadrado */
.cointer-square {
    max-width: 30.0rem;
    overflow: hidden;
    border: solid var(--primary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.0rem 1.5rem;
}
.cointer-square > h2 { 
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 700;
    margin: 0 1rem;
    margin-top: 1rem;
    text-align: center;
}
.cointer-square > picture {
    margin-top: 1rem;
    height: 6rem;
    max-width: 28rem;
}
picture > img {
    height: 100%;
    width: 100%;
}
.formSquare-container_label_input-button{
    display: flex;
    flex-direction: column;    
    align-items: center;
    max-width: 30.0rem;
    margin: 1.0rem 1.5rem;
}
.formSquare-container_label_input-button > label {
    padding: 0;
    color: var(--option-color-1);
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}
.container-input_square {
    color: #ede7dd; 
    background-color: #721B08;
    border: 0;
    outline: 0px; 
    text-align: center;
    height: 6rem;
    font-size: 3rem;
    width: 25.0rem;
    border-radius: 1rem; 
}
.container-input_square:focus {
    box-shadow: rgba(114, 27, 8, 0.4) 4px -1px 28px 1px;   
}
.container-input_square::placeholder {
    padding-left: 2%;
    color: rgba(210, 215, 211, 0.2);
}
.buttons-container_1 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.button-perimetro_square {
    color:  #ede7dd;
    cursor: pointer;
    border: none; 
    background-color: #186977;
    border-radius: 25px;
    font-size: 2.4rem;
    max-width: 12.5rem;
    width: 50%;    
    height: 10.0rem;
    margin-right: 0.5rem;
    padding: 2%;
}
.button-area_square {  
    color:  #ede7dd;
    cursor: pointer; 
    background-color: #186977;
    border: none;   
    border-radius: 25px;  
    font-size: 2.4rem;
    max-width: 12.5rem;
    width: 50%;          
    height: 10.0rem;
    margin-left: 0.5rem; 
    padding: 2%;
}
.container-resultados_square > p {
    color: #43894F;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
}
/* estilos contenedor triangulo */
.cointer-triangle {
    max-width: 30.0rem;
    overflow: hidden;
    border: solid var(--primary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.0rem 1.5rem;
}
.cointer-triangle h3 {    
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 700;
    margin: 0 1rem;
    margin-top: 1rem;
    text-align: center;
}
.cointer-triangle > picture {
    margin-top: 1rem;
    height: 6rem;
    max-width: 28rem;
}
.formTriangulo-container_label_input-button-1 {
    display: flex;
    flex-direction: column;    
    align-items: center;
    max-width: 30.0rem;
    margin: 1.0rem 1.5rem;
}
.formTriangulo-container_label_input-button-1 > label {
    background-color: rgba(0, 0, 0, 0); /* asi no afectara el efecto focus*/
    padding: 0;
    color: var(--option-color-1);
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}
.formTriangulo-container_label_input-button-1 > input {
    color: #ede7dd; 
    background-color: #721B08;
    border: 0;
    outline: 0px; 
    text-align: center;
    height: 6rem;
    font-size: 3rem;
    width: 25.0rem;
    border-radius: 1rem; 
}
.formTriangulo-container_label_input-button-1 > input:focus {
    box-shadow: rgba(114, 27, 8, 0.4) 4px -1px 28px 1px; 
}
.formTriangulo-container_label_input-button-1 > input::placeholder {
    padding-left: 2%;
    color: rgba(210, 215, 211, 0.2);
}
/**/
.formTriangulo-container_label_input-button-2 {
    display: flex;
    flex-direction: column;    
    align-items: center;
    max-width: 30.0rem;
    margin: 1.0rem 1.5rem;
}
.formTriangulo-container_label_input-button-2 > label {
    background-color: rgba(0, 0, 0, 0); /* asi no afectara el efecto focus*/
    padding: 0;
    color: var(--option-color-1);
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}
.formTriangulo-container_label_input-button-2 > input {
    color: #ede7dd; 
    background-color: #721B08;
    border: 0;
    outline: 0px; 
    text-align: center;
    height: 6rem;
    font-size: 3rem;
    width: 25.0rem;
    border-radius: 1rem; 
}
.formTriangulo-container_label_input-button-2 > input:focus {
    box-shadow: rgba(114, 27, 8, 0.4) 4px -1px 28px 1px; 
}
.formTriangulo-container_label_input-button-2 > input::placeholder {
    padding-left: 2%;
    color: rgba(210, 215, 211, 0.2);
}
/**/
.container-button_1_perimetro {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.button-perimetro_triangle {
    color: #ede7dd;
    cursor: pointer;
    border: none;
    background-color: #186977;
    border-radius: 25px;
    font-size: 3.0rem;
    max-width: 300px;
    width: 100%;
    height: 10rem;
    margin-top: 0.5rem;
    padding: 2%;
}
.container-button_2_area {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.button-area_triangle {
    color: #ede7dd;
    cursor: pointer;
    border: none;
    background-color: #186977;
    border-radius: 25px;
    font-size: 3.0rem;
    max-width: 300px;
    width: 100%;
    height: 10rem;
    margin-top: 0.5rem;
    padding: 2%;
}
.container-resultado_perimetro_trinagle > p {
    color: #43894F;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
}
.container-resultado_area_trinagle > p {
    color: #43894F;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem; 
}
/* estilos contenedor Itriangulo Isosceles */
.cointer-isoscelesTriangle {
    max-width: 30.0rem;
    overflow: hidden;
    border: solid var(--primary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.0rem 1.5rem;
}
.cointer-isoscelesTriangle h4 {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 700;
    margin: 0 1rem;
    margin-top: 1rem;
    text-align: center;
}
.cointer-isoscelesTriangle > picture {
    margin-top: 1rem;
    height: 6rem;
    max-width: 28rem;
}
.formTrianguloIsosceles-container_label_input-button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    max-width: 30.0rem;
    margin: 1.0rem 1.5rem;
}
.formTrianguloIsosceles-container_label_input-button > label {
    background-color: rgba(0, 0, 0, 0); /* asi no afectara el efecto focus*/
    padding: 0;
    color: var(--option-color-1);
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}
.formTrianguloIsosceles-container_label_input-button > input {
    color: #ede7dd; 
    background-color: #721B08;
    border: 0;
    outline: 0px; 
    text-align: center;
    height: 6rem;
    font-size: 3rem;
    width: 25.0rem;
    border-radius: 1rem;
}
.formTrianguloIsosceles-container_label_input-button > input:focus {
    box-shadow: rgba(114, 27, 8, 0.4) 4px -1px 28px 1px; 
}
.formTrianguloIsosceles-container_label_input-button > input::placeholder {
    padding-left: 2%;
    color: rgba(210, 215, 211, 0.2);
}
.container-button_altura {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.button-altura_TrianguloIsosceles {
    color: #ede7dd;
    cursor: pointer;
    border: none;
    background-color: #186977;
    border-radius: 25px;
    font-size: 3.0rem;
    max-width: 300px;
    width: 100%;
    height: 10rem;
    margin-top: 0.5rem;
    padding: 2%;
}
.container-resultado_altura_Isosceles > p {
    color: #43894F;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
}

/* estilos contenedor Circulo */
.container-circle {
    max-width: 30.0rem;
    overflow: hidden;
    border: solid var(--primary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.0rem 1.5rem;
}
.container-circle h5 {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 700;
    margin: 0 1rem;
    margin-top: 1rem;
    text-align: center;
}
.container-circle > picture {
    margin-top: 1rem;
    height: 6rem;
    max-width: 28rem;    
}
.formCircle-container_label_input-button {
    display: flex;
    flex-direction: column;    
    align-items: center;
    max-width: 30.0rem;
    margin: 1.0rem 1.5rem;
}
.formCircle-container_label_input-button > label {
    padding: 0;
    color: var(--option-color-1);
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}
.container-input_circle {
    color: #ede7dd; 
    background-color: #721B08;
    border: 0;
    outline: 0px; 
    text-align: center;
    height: 6rem;
    font-size: 3rem;
    width: 25.0rem;
    border-radius: 1rem; 
}
.container-input_circle:focus {
    box-shadow: rgba(114, 27, 8, 0.4) 4px -1px 28px 1px;   
}
.container-input_circle::placeholder {
    padding-left: 2%;
    color: rgba(210, 215, 211, 0.2);
}
.container-buttons_diametro_perimetro_circulo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.button-diametro_circle {
    color:  #ede7dd;
    cursor: pointer;
    border: none; 
    background-color: #186977;
    border-radius: 25px;
    font-size: 2.4rem;
    max-width: 12.5rem;
    width: 50%;    
    height: 10.0rem;
    margin-right: 0.5rem;
    padding: 2%;
}
.button-perimetro_circle {
    color:  #ede7dd;
    cursor: pointer; 
    background-color: #186977;
    border: none;   
    border-radius: 25px;  
    font-size: 2.4rem;
    max-width: 12.5rem;
    width: 50%;          
    height: 10.0rem;
    margin-left: 0.5rem; 
    padding: 2%;
}
.container-button_area_circle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.button-area_circle {
    color: #ede7dd;
    cursor: pointer;
    border: none;
    background-color: #186977;
    border-radius: 25px;
    font-size: 3.0rem;
    max-width: 300px;
    width: 100%;
    height: 10rem;
    margin-top: 0.5rem;
    padding: 2%;
}
.container-resultado_diametro_perimetro_area_circle > p {
    color: #43894F;
    text-align: center;
    margin-top: 1rem;
    font-size: 2.5rem;
}
/*Edicion en header*/
@media (min-width: 700px) {
    .a-container_picture_home {
        margin-right: 63.0rem;
    }
}
@media (min-width: 1000px) {   
    
    /*HEADER*/
    .a-container_picture_home {
        margin-right: 120rem;
    }
    .header-container_h1_p h1 {
        font-size: 5.8rem;
    }
    .section-container_square_triangle_isoscelesTriangle_circle {
        gap: 1rem;
        display: grid;
        align-items: stretch;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
    }
    p {
        margin: 1rem;
    }
    /*Cuadrado*/
    .cointer-square { 
        justify-content: center;  
        margin: 0;     
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        height: auto;
        width: 63.0em;
        max-width: none;
    }
    .cointer-square > h2 {
        font-size: 3rem;
    }
    .formSquare-container_label_input-button {  
        margin: 0;      
        padding: 1rem;
        max-width: none;
        width: 100%;
    }
    .container-input_square{
        width: 100%;
    }
    .button-perimetro_square {
        height: 5.4rem;
        max-width: none;
        width: 100%;
    }
    .button-area_square {
        height: 5.4rem;
        max-width: none;
        width: 100%;
    }
    .buttons-container_1 {
        width: 100%;
    }
    /*Triangulo*/
    .cointer-triangle {
        width: 63rem;
        margin: 0;
        grid-column: 1/2;
        max-width: none;
    }
    .cointer-triangle h3 {
        font-size: 3rem;
    }
    .container-forms {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .formTriangulo-container_label_input-button-1 {
        border: solid var(--primary-color);
        border-radius: 20px;
        overflow: hidden;

    }
    .formTriangulo-container_label_input-button-2 {
        border: solid var(--primary-color);
        border-radius: 20px;
        overflow: hidden;
        height: 96%;
        justify-content: space-around;
    }
    .formTriangulo-container_label_input-button-2 > label {
        margin: 0 0.5rem;
    }
    .formTriangulo-container_label_input-button-1 > label {
        margin: 0.5rem  0.5rem;        
    }
    .button-perimetro_triangle {
        height: 7.4rem;
        font-size: 2.4rem;
        max-width: none;
        width: 25rem;

    }
    .button-area_triangle {
        height: 7.4rem;
        font-size: 2.4rem;
        max-width: none;
        width: 25rem;
        margin: 0;
        padding: 0;
    }
    /*Triangulo Isosceles*/
    .cointer-isoscelesTriangle {
        height: auto;
        justify-content: space-around;
        margin: 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-column: 2/3;
        width: 63rem;
        max-width: none;        
    } 
    .cointer-isoscelesTriangle h4 {
        font-size: 3rem;
    }
    .formTrianguloIsosceles-container_label_input-button {
        margin: 0;
        padding: 1rem;
        width: 100%;
        max-width: none;
    }
    .formTrianguloIsosceles-container_label_input-button > input {
        width: 95%;
    }
    .button-altura_TrianguloIsosceles {
        height: 7.4rem;
        width: 95%;
        max-width: none;
    }
    /*Circulo*/
    .container-circle {
        justify-content: center;  
        margin: 0;
        height: auto;
        width: 63rem;
        max-width: none;
    }
    .container-circle h5 {
        font-size: 3rem;
    }
    .formCircle-container_label_input-button {
        margin: 0;
        padding: 1rem;
        width: 100%;
        max-width: none;
    }
    .container-buttons_diametro_perimetro_circulo {
        width: 63%;
    }
    .container-button_area_circle {           
        padding: 0 1rem;  
        width: 30%;
    }
    .container-buttons_circle {
        justify-content: space-around;
        width: 100%;
        display: flex;
    }
    .button-diametro_circle {
        padding: 0;
        margin: 0;
        margin-right: 1rem;
        max-width: none;
        width: 100%;
        height: 6rem;
    }
    .button-perimetro_circle {
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        max-width: none;
        width: 100%;
        height: 6rem;
    }
    .button-area_circle {   
        font-size: 2.4rem;
        margin: 0;
        max-width: none;
        width: 100%;
        height: 6rem;
    }
    .container-input_circle {
        width: 100%;
    }

}





